{
    "printWidth": 80,
    "tabWidth": 4,
    "semi": true,
    "singleQuote": true,
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "crlf",
    "importOrder": [
        "^@core/(.*)$",
        "^@modules/(.*)$",
        "^@layout/(.*)$",
        "^@shared/(.*)$",
        "^@env(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "overrides": [
        {
            "files": "*.component.html",
            "options": {
                "parser": "angular"
            }
        },
        {
            "files": "*.html",
            "options": {
                "parser": "html"
            }
        }
    ]
}
