<mat-toolbar color="primary">
    <button
        mat-icon-button
        *ngIf="isUserLoggedManager"
        (click)="onSidenavToggle()"
    >
        <mat-icon>menu</mat-icon>
    </button>

    <div class="navbar-company-logo">
        <button
            mat-button
            class="navbar-company-logo-btn"
            aria-label="dashboard"
            [routerLink]="['/dashboard']"
        >
            <span>PlaceholderCompany</span>
        </button>
    </div>
    <div class="navbar-actions">
        <app-nav-bar-login></app-nav-bar-login>
    </div>
</mat-toolbar>
