<p>Retrieve All Example</p>

<button
    mat-raised-button
    color="primary"
    (click)="onGetAll()">
    Submit
</button>

<mat-list>
    <h3 mat-header>List</h3>
    <mat-list-item
        *ngFor="let example of getAllResult">
        ID: {{example.id}}
        Enum: {{example.enum}}
    </mat-list-item>
</mat-list>

<mat-divider></mat-divider>

<p>Retrieve By ID Example</p>

<form
    class="example-form"
    (ngSubmit)="onGetByID()"
    [formGroup]="getByIDFormGroup">
    <mat-form-field class="example-full-width">
        <input
            matInput
            required
            type="number"
            min="1"
            placeholder="ID"
            formControlName="id">
        <mat-error *ngIf="getByIDFormGroup.invalid">Invalid ID</mat-error>
    </mat-form-field>

    <button
        mat-raised-button
        color="primary">
        Submit
    </button>

    Result: {{getByIDResult}}
</form>

<mat-divider></mat-divider>

<p>Add Example</p>

<form
    class="example-form"
    (ngSubmit)="onAdd()"
    [formGroup]="addFormGroup">
    <mat-form-field class="example-full-width">
        <input
            matInput
            required
            type="number"
            min="1"
            placeholder="Enum Value"
            formControlName="enum">
        <mat-error *ngIf="addFormGroup.invalid">Invalid Enum Value</mat-error>
    </mat-form-field>

    <button
        mat-raised-button
        color="primary">
        Submit
    </button>

    Result: {{addResult}}
</form>

<mat-divider></mat-divider>

<p>Update Example</p>

<form
    class="example-form"
    (ngSubmit)="onUpdate()"
    [formGroup]="updateFormGroup">
    <mat-form-field class="example-full-width">
        <input
            matInput
            required
            type="number"
            min="1"
            placeholder="ID"
            formControlName="id">
        <mat-error *ngIf="updateFormGroup.invalid">Invalid ID</mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input
            matInput
            required
            type="number"
            min="1"
            placeholder="Enum Value"
            formControlName="enum">
        <mat-error *ngIf="updateFormGroup.invalid">Invalid Enum Value</mat-error>
    </mat-form-field>

    <button
        mat-raised-button
        color="primary">
        Submit
    </button>

    Result: {{updateResult}}
</form>

<mat-divider></mat-divider>

<p>Remove Example</p>

<form
    class="example-form"
    (ngSubmit)="onRemove()"
    [formGroup]="removeFormGroup">
    <mat-form-field class="example-full-width">
        <input
            matInput
            required
            type="number"
            min="1"
            placeholder="ID"
            formControlName="id">
        <mat-error *ngIf="updateFormGroup.invalid">Invalid ID</mat-error>
    </mat-form-field>

    <button
        mat-raised-button
        color="primary">
        Submit
    </button>

    Result: {{removeResult}}
</form>

<mat-divider></mat-divider>
